<% if @orders.present? %>
    <% @orders.each do |order| %>
    <div>
    <%= order.title %>
    <%= link_to "Delete", popup_order_path(order), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <% end %>

<% else %>
  <h1>You haven't added anything yet yooo</h1>
<% end %>







