<% if @wishlists.present? %>
    <% @wishlists.each do |wishlist| %>
    <div>
    <%= wishlist.popup.title %>
    <%= link_to "Delete", wishlist_path(wishlist), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <% end %>

<% else %>
  <h1>You haven't added anything yet</h1>
<% end %>
