// Define variables for your color scheme

// For example:
$pink: #EC576B;
$fade-pink: rgba(236, 87, 107, .8);
$bright-pink: #ea3a52;
$blue: #4EC5C1;
$fade-blue: rgba(78, 197, 193, .6);
$bright-blue: #1abfb7;
$yellow: #DEB13A;
$orange: #E67E22;
$green: #32B796;
$red: red;
$gray: #000000;
$light-gray: #F4F4F4;
