// * {
//   border: thin red solid;
// }

// <!-- HEADER -->

.header {
  width: 100%;
  position: fixed;
  top:90px;
  h1 {
    border-bottom: none;
    height: 50px;
    font-size: 50px;
  }
}

// <!-- TABS -->
// see _tabs.scss

// Make header, footer, background fixed
.popups-edit .navbar-main {
  position: fixed;
}

.popups-edit .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.popups-edit {
  background-color: white;
}

// <!-- CONTENT -->

// Parent
.questions-container {
  max-height: 65vh;
  white-space:nowrap;
  position: relative;
  display: inline-flex;
  a { // Next button/link
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

// Child
.question-container {
  // display: inline-block;
  min-width: 100vw;
  padding-top: 22%;
}

.question-content {
  padding: 0 20%;
}

// <!-- FORM -->

.popups-edit {
  .form-content {
    padding-top: 3%;
  }
  .form-group {
    display: flex;
    flex-direction: row;
    padding-left: 6em;
    label {
      width: 150px;
      text-align: left;
      padding: .5%;
      margin-bottom: 0;
      min-width: 9em;
    }
  }
}


// To allow for € span
.funding_goal  {
  width: 150px;
  text-align: left;
  padding: .5%;
  margin-bottom: 0;
  min-width: 9em;

}

// Align € sign w/ input line
.currency-margin-top {
  margin-top: 7px;
}


.description-content {
  padding-left: 12em;
  textarea {
    height: 10em;
    width: 40em;
    border: solid thin #E8E8E8 !important;
  }
}

.price {
  padding-top: 2%;
}

.price-content {
  width: 55%;
  padding-left: 29em;
}



