// .header-wrapper {

// }

.header-popup-infos {
  .form-control {
    border-bottom: none;
    height: 50px;
    font-size: 50px;
  }
}

.funding_goal  {
  width: 150px;
  text-align: left;
  padding: .5%;
  margin-bottom: 0;
  min-width: 9em;

}

.currency-margin-top {
  margin-top: 7px;
}


.popup_description {
  display: flex;
  flex-direction: row;
  padding-left: 12em;
  textarea {
    height: 200px;
    border: solid thin #E8E8E8 !important;
  }
}

// Horizontal scoll
.fixed-content-height {
  // max-height: 65vh;
}
// Parent
.edit-content {
  display: inline-block;
  min-width: 100vw;
  padding-top: 17%;
}
// Child
.edit-page {
  white-space:nowrap;
  position: relative;
}

// Take out weird left-padding
.edit-page {
  margin-left: 0;
}

// Next button/link
.edit-page {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.form-group.popup_url {
  label {
    text-align: center;
  }
}

#price-input .form-row {
  margin: 0;
}


.form-group.edit {
  display: flex;
  flex-direction: row;
  padding-left: 12em;
  label {
    width: 150px;
    text-align: left;
    padding: .5%;
    margin-bottom: 0;
    min-width: 9em;
  }
}

.form-content {
  padding-top: 3%;
}

// Fixed header
.edit-header-wrapper {
  width: 100%;
  position: fixed;
  top:90px;
}

.edit-page {
  .form-group {
    display: flex;
    flex-direction: row;
    padding-left: 6em;
    label {
      width: 150px;
      text-align: left;
      padding: .5%;
      margin-bottom: 0;
      min-width: 9em;
    }
  }
}

// Make header, footer, background fixed
.popups-edit .navbar-main {
  position: fixed;
}

.popups-edit .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

}

.popups-edit {
  background-color: white;
}
