.heart {
  width: 100px;
  height: 100px;
  background: url('https://cssanimation.rocks/images/posts/steps/heart.png') no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  margin: -23px;

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}

.animation-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    display: flex !important;
    align-items: center;
    transition: background-color .2s ease-out;
    background: hsla(0,0%,100%,.1);
    border: 2px solid $yellow;
    border-radius: 3px;
    color: $yellow;
    display: inline-block;
    font-weight: 500;
    // padding: 0px 25px 0px 10px;
    font-size: 18px;
    margin: 0px 0px;
    padding: 0px 55px;

    text-align: center;
    &:focus {
      outline: none;
    }
  }
  p {
    margin: 0 0 0 -5px;
    padding-right: 19px;
  }
  margin-top: 30px;
  height: auto;
  .col-xs-5 {
    display: flex !important;
    justify-content: center;
    transition: background-color .2s ease-out;
    background: hsla(0,0%,100%,.1);
    border: 2px solid $yellow;
    border-radius: 3px;
    color: $yellow;
    display: inline-block;
    font-weight: 500;
    padding: 18px 0px;
    width: 48%;
    font-size: 18px;
    margin: 0px 17px 0px 0px;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
}

.col-xs-6 {
  padding: 0;
  margin: 0;
  width: 48%;
}

.modal-header {
  text-align: center;
  .close {
    border: none;
    padding: none !important;
  }
  strong {
    color: $blue;
  }
}

.fa-share {
  color: #AAB8C2;
}

.fa-facebook, .fa-twitter {
  padding: 17px;
}

#share-buttons {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.cs-share-this-product {
  float: left;
  width: 150px;
  height: 50px;
  min-width: 68px;
  overflow: hidden;
  border-radius: 3px;
  .facebook {
    border: 2px solid #527EBF;
  }
  .twitter {
    border: 2px solid #25C0E2;
  }

  &:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    border-radius: 3px;
  }

  a {
    text-decoration:none;
  }

  .social-share-icon-block {
    .fa-facebook {
      color: white;
    }
    .fa-twitter {
      color: white;
    }

    span.share-text {
      color: #fff;
    }
  }

  &.facebook { background: #527EBF; margin-right: 100px; }
  &.twitter { background: #25C0E2; }
}
