.delete-account {
  margin-top: 6vh;
}

.profile-edit-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;


}


.back-to-profile {
  margin-top: 14px;
  @media screen and (max-width: 600px) {
  display: none;
  }
}
