<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1477004046389-a032d6b58cdb?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');">
  <div class="banner-content">
    <h1>PopUp</h1>
    <p>Anyone can be a chef</p>
    <a class="btn btn-primary btn-lg">Explore now</a>
  </div>
</div>
