<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1477004046389-a032d6b58cdb?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');">
  <div class="banner-content">
    <h1>PopUp</h1>
    <p>Anyone can be a chef</p>
    <h1 class="text-center" id="button1" data-next='#trending_popups'>
      <a href='#trending_popups' id="button1" ><i class="fa fa-angle-down fa-3x" data-toggle="dropdown"></i></a>
    </h1>
  </div>
</div>
