<div class="banner" style="background-image: url('https://cdn.eyeem.com/thumb/51391cecf4fd3728c572613a119e7cac54d69ba1-1459248827207/w/1100');">
  <div class="banner-content">
    <h1>EatUp</h1>
    <p class= "padding-top">Anyone can be a chef</p>
    <h4 class="text-center" id="button1" data-next='#trending_popups'>
      <a href='#trending_popups' id="button1" class="btn.lg btn-success" data-toggle="dropdown">Start today</a>
    </h4>
  </div>
</div>


<!-- <h4 class="text-center" id="button1" data-next='#trending_popups'>
      <a href='#trending_popups' id="button1" class="btn.lg btn-success" data-toggle="dropdown">Start today</a>
    </h4> -->
