  <div class="profile-edit-heading">
    <% if current_user.first_name? %>
    <h3><%= current_user.first_name %>'s User Profile</h3>
    <% else %>
    <h3>User Profile</h3>
    <% end %>
    <div class="back-to-profile">
        <%= link_to "Edit", edit_profile_path, class:"button-grey"%>
    </div>
  </div>

