<div class="navbar-main">

  <div class="navbar-wagon-left">

    <%= link_to "Imma hungry", pages_path, class: "navbar-wagon-item navbar-wagon-link-blue hidden" %>
    <%= link_to "Be a Chef", new_popup_path, class: "navbar-wagon-item navbar-wagon-link-pink hidden" %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= cl_image_tag("logo_nsqflj.png") %>
  <% end %>


    <i class="fa fa-search navbar-toggle" id="search-icon"></i>


  </div>

</div>

