.navbar-wagon .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.header-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.facebook-avatar-background {
  background-size: cover;
  background-position: center center;
}

.profile-avatar-lg {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-right: 77px;
}
