.navbar-wagon .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.header-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

