.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.header-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
