.banner {
  height: calc(100vh - 70px);
  width: 100%;
  overflow: hidden;
  position: relative;

  video {
   position: inherit;
   min-height: 100%;
   min-width: 100%;
   overflow: hidden;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
  }
}

.banner-content {
  min-height: 100%;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  text-align: center;
  z-index: 1;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.banner-headings {
  text-align: center;
  z-index: 10000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.banner-headings h1 {
  font-size: 70px;
  font-weight: bold;
}
.banner-headings p {
  font-size: 40px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

#button1 {
  padding: .8em;
  border-radius: 3px;
  text-decoration: none;
}

.btn-success:hover {
  background-color: $fade-pink;
  text-decoration: none;
}

