 .button-white {
  transition: background-color .2s ease-out;
  background: hsla(0,0%,100%,.1);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-weight: 500;
  padding: 4px 25px;
  height: 50px;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;


}

.postfix{
  border: 0;
  background-color: white;
  padding: 0px;
}


.button-white:hover {
  background-color: rgba(245, 245, 245, .8);
  color: $green;
  text-decoration: none;
  border-color: rgba(245, 245, 245, .8);
}



.button-grey-search {
  transition: background-color .2s ease-out;
  background: hsla(0,0%,100%,.1);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-weight: 500;
  padding: 4px 25px;
  height: 50px;
  line-height: 55px;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  width: 450px;
}

.button-grey-search:hover {
  border: 2px solid #59d67d;
  text-decoration: none;
}

 .button-green {
  transition: background-color .2s ease-out;
  background: hsla(0,0%,100%,.1);
  border: 2px solid #37a755;
  border-radius: 3px;
  color: #37a755;
  display: inline-block;
  font-weight: 500;
  padding: 4px 25px;
  height: 40px;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin: 0;

}

.button-green:hover {
  background-color: #37a755;
  color: #fff;
  text-decoration: none;
}

 .button-grey {
  transition: background-color .2s ease-out;
  background: hsla(0,0%,100%,.1);
  border: 2px solid #7f7f7f;
  border-radius: 3px;
  color: #7f7f7f;
  display: inline-block;
  font-weight: 500;
  padding: 6px 25px;
  height: 40px;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin: 0;

}

.button-grey:hover {
  border: 2px solid black;
  color: black;
  text-decoration: none;
}

.button-cyan-big {
  transition: background-color .2s ease-out;
  background: rgba(255, 255, 255, 1);
  border: 2px solid #4ec5c1;
  border-radius: 3px;
  color: #4ec5c1;
  display: inline-block;
  font-weight: 500;
  padding: 4px 40px;
  height: 50px;
  font-size: 28px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin: 0;
}
.button-cyan-big:hover {
  background-color: #4ec5c1;
  color: #fff;
  text-decoration: none;
}


 .button-red {
  transition: background-color .2s ease-out;
  background: hsla(0,0%,100%,.1);
  border: 2px solid #dd5555;
  border-radius: 3px;
  color: #dd5555;
  display: inline-block;
  font-weight: 500;
  padding: 6px 25px;
  height: 40px;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin: 0;
  opacity: 0.5;

}

.button-red:hover {
  background-color: #dd5555;
  color: #fff;
  text-decoration: none;
}

.button-red-big {
  transition: background-color .2s ease-out;
  background: rgba(255, 255, 255, 1);
  border: 2px solid #dd5555;
  border-radius: 3px;
  color: #dd5555;
  display: inline-block;
  font-weight: 500;
  padding: 4px 40px;
  height: 50px;
  font-size: 28px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin: 0;
}
.button-red-big:hover {
  background-color: #dd5555;
  color: #fff;
  text-decoration: none;
}

.button-yellow-big {
  transition: background-color .2s ease-out;
  background: rgba(255, 255, 255, 1);
  border: 2px solid #deb13a;
  border-radius: 3px;
  color: #deb13a;
  display: inline-block;
  font-weight: 500;
  padding: 4px 40px;
  height: 50px;
  font-size: 28px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin: 0;
}
.button-yellow-big:hover {
  background-color: #deb13a;
  color: #fff;
  text-decoration: none;
}






a {
  text-decoration:none;

}


 .button-brand-blue {
  transition: background-color .2s ease-out;
  background: hsla(0,0%,100%,.1);
  border: 2px solid $blue;
  border-radius: 3px;
  color: $blue;
  display: inline-block;
  font-weight: 500;
  padding: 10px 25px;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin: 0;

}

.button-brand-blue:hover {
  background-color: $blue;
  color: #fff;
  text-decoration: none;
}

.button-brand-blue-big {
  transition: background-color .2s ease-out;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid $blue;
  border-radius: 3px;
  color: $blue;
  display: inline-block;
  font-weight: 500;
  padding: 10px 74px;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin: 0;
}

.button-brand-blue-big:hover {
  background-color: $blue;
  color: #fff;
  text-decoration: none;
}
.btn-lg {
  font-size: 30px;
}
