.form-padded {
  padding: 0 30rem;
}

.form-control {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  min-width: 150%;
}

.form-row {
  margin: 0;
  .form-group {
    display: flex;
    flex-direction: row;
    padding-left: 12em;
    label {
      width: 150px;
      text-align: left;
      padding: .5%;
      margin-bottom: 0;
      min-width: 9em;
    }
  }
}

.form-content {
  padding-top: 3%;
}

