.page-wrapper-map {
  background-color: white;
  min-height: calc(100vh - 150px);
  // min-height: calc(98vh - 150px); for pages with border
  width: 100%;
  // padding-bottom: 20px;
  flex: 1 0 auto;
  display: flex;
}

// .row {
//   display: flex;
// }

#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}


