/* Main navbar */

.navbar-container {
  background-color: transparent;
  height: 75px;
  width: 100vw;
  overflow: hidden;
  .navbar-main {
     margin-top: 0px;
  }
  #search {
    transition: all 0.3s ease;
    margin-left: -500px;
  }
  .fa-times {
    display: none
  }
}


// *{
//   border: 1px solid #000000;
// }






.navbar-container.searchable {

  .navbar-main {
    position: absolute;
    margin-top: -70px;
    box-shadow: none;
  }
  #search {
    margin-left: 0px;
  }
  .fa-times {
    display: inherit;
  }
}

.navbar-toggle {
  cursor: pointer;
}

.navbar-wagon {
  // box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
  // border-bottom: 1px solid #c0c0c0;
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.navbar-search {
  height: 70px;
  overflow: scroll;
  box-shadow: 0 0px 6px 0 rgba(0,0,0,0.17);
}

/* Logo */
.navbar-wagon-brand {
  position: absolute;
  right: 86%;
  img {
    height: 50px;
  }
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left section */
.navbar-wagon-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */

.navbar-wagon-link-blue {
  color: $blue;
  font-size: 25px;

}
.navbar-wagon-link-pink {
  color: $pink;
  font-size: 25px;

}
.navbar-wagon-link {
  color: #9A9A9A;
  font-size: 25px;
}

.navbar-wagon-link:hover {
  color: black;
  text-decoration: none;
}

.navbar-wagon-link-blue:hover {
  color: $blue;
  border-bottom: $blue solid;
  text-decoration: none;
}
.navbar-wagon-link-pink:hover {
  color: $pink;
  border-bottom: $pink solid;
  text-decoration: none;
}
/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.dropdown-menu {
 border-radius: 10px;
}
