<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <h3 class= "text-center">Welcome <%= @email %>!</h3>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p>You can confirm your account email through the link below:</p>
        <br>
        <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
      </div>
    </div>
  </div>
</div>



