<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <h3 class= "text-center">Hello <%= @resource.email %>!</h3>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p>We're contacting you to notify you that your password has been changed.</p>
      </div>
    </div>
  </div>
</div>
