<div class="page-wrapper">
  <div class="container form-padded">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text-center">
        <h1>Get Started</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <%= simple_form_for @popup do |f| %>
        <h3><%= f.input :title, placeholder: 'Cool name...' %></h3>
      </div>
    </div>
   <!--  <div class="row">
     add category
  </div> -->
  <div class="row">
     <div class="col-xs-12 col-lg-12">
     <%= f.submit :submit %>
    </div>
  </div>
  <% end %>
</div>
</div>



